.loading-modal {
    position: fixed;
    top: 50%;
    left: 50%;
}

.main-content {
    margin-top: 100px;
    padding: 0px;
    align-self: center;
}

.main-content-card {
    align-self: center;
    width: 100%;
    margin-bottom: 20px;
}

.mdl-layout__header {
    position: fixed;
}

.add-my-event {
    position: fixed;
    right: 1em;
    bottom: 1em;
}
